:root{
    overflow-y: auto;
}

.main-box {
    height: fit-content;
}

.title-card {
    position: sticky;
    top: 0;
    display: flex;
    width: 100vw;
    background-color: var(--primary);
    justify-content: center;
}

.photoboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    width: clamp( 548.25px, 75vw, 100vw);
    margin-inline: auto;
    margin-top: 10vh;
}

.photoboard img{
    height: clamp( 10vh, 40vh, 50vh);
    flex-grow: 1;
    object-fit: cover;
    border: solid white 5px;
}