:root {
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono',
  'Bitstream Vera Sans Mono', Courier, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //text colors
  --text-primary: rgb(244, 244, 244);
  --text-secondary: rgb(198, 198, 198);
  --text-placeholder: rgb(111, 111, 111);
  --text-onColor: rgb(255, 255, 255);
  --text-onColorDisabled: rgba(244, 244, 244, 0.25);
  --text-helper: rgb(141, 141, 141);
  --text-error: rgb(255, 131, 137);
  --text-inverse: rgb(22, 22, 22);
  --text-disabled: rgba(244, 244, 244, 0.25);

  //background colors
  --background: rgb(22, 22, 22);
  --background-active: rgb(141, 141, 141);
  --background-hover: rgba(141, 141, 141, 0.5);
  --background-selected: rgba(141, 141, 141, 0.24);
  --background-selected-hover: rgba(141, 141, 141, 0.32);
  --background-brand: rgb(15, 98, 254);
  --background-inverse: rgb(244, 244, 244);
  --background-inverse-hover: rgb(229, 229, 229);

  //layer colors
  --layer-01: rgb(38, 38, 38);
  --layer-03: rgb(82, 82, 82);
  --layer-active-02: rgb(111, 111, 111);
  --layer-active-03: rgb(141, 141, 141);
}

* {
	box-sizing: border-box;
	margin: 0px;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

@media only screen and (max-width: 444px) {
	#root {
		scroll-snap-type: none !important;
		scrollbar-width: unset !important;
	}

	section {
		&.welcome, &.experience {
			height: fit-content !important;
		}

		& p {
			&.footer {
				right: 0px !important;
				transform: unset !important;
			}
		}

		& svg {
			&.footer {
				right: -50% !important;
				transform: translate(-50%, 0%);
			}
		}

		& .footer {
			position: relative !important;
			bottom: 0px !important;
		}
	}

	p {
		&.bigText {
			font-size: 76px !important;
		}
	}
}
@media only screen and (max-width: 475px) {
	section {
		&.languageIcons {
			margin: 16px 0px !important;
		}
	}
}

#root {
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 100vw;
  height: calc(100vh - 48px);
  overflow-y: scroll;
  scroll-margin: 16px;
  position: relative;
  top: 24px;
  padding-top: 16px;
  scroll-snap-type: y mandatory;
}

header {
	&.global {
		width: 100vw;
		height: 48px;
		padding-inline: 16px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: var(--background);
		position: fixed;
		top: 0px;

		& h1 {
			font-weight: 600;
			height: 100%;
		}
	}
}

h1 {
	padding: 0px 32px 0px 0px;
	font-size: 32px;
	color: var(--text-primary);
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	color: var(--text-primary);
	height: 100%;
	padding: 0px 16px;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		color: var(--text-primary);
		background-color: var(--background-hover);
	}
}

nav {
	display: flex;
	& a {
		color: var(--text-primary);
		height: 100%;
		padding: 0px 16px;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			color: var(--text-primary);
			background-color: var(--background-hover);
		}
	}
}

section {
	height: calc(100vh - 62px);
	width: 100vw;
	scroll-snap-align: end;
	padding-inline: 16px;

	&.welcome {
		display: flex;
		flex-direction: column;
	}

	&.experience {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 16px;
		gap: 16px;
		overflow-x: scroll;
	}

	&.languageIcons {
		padding-inline: 0px;
		width: 100%;
		height: fit-content;
		margin-top: 64px;
		margin-bottom: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 16px;

		& img {
			height: 76px;
			width: 76px;
		}
	}

	& .footer {
		position: absolute;
		bottom: 16px;
		right: 50%;
		transform: translate(50%,0%);

	}
}

div {
	&.tileContainer {
		display: flex;
		gap: 16px;
	}

	&.tile {
		background-color: var(--layer-03);
		padding: 16px;
		min-width: 128px;
		width: fit-content;
		min-height: 64px;
		height: fit-content;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 16px;
		position: relative;

		& .img {
			width: 216px;
			height: 216px;
			margin-inline: auto;
			background-color: var(--layer-active-02);
			position: relative;
			overflow: hidden;

			&::after {
				position: absolute;
				height: 100%;
				width: 100%;
				transform: translateX(-200%);
				background-image: linear-gradient(
				90deg,
				var(--layer-active-02) 0%,
				var(--text-onColorDisabled) 50%,
				var(--layer-active-02) 100%,
				);
				animation: shimmer 50s infinite;
				content: '';
			}
		}

		& img {
			width: 216px;
			margin-inline: auto;
		}

		& .subtitle {
			height: 24px;
			padding: 0px;
		}

		& .title {
			height: 28px;
			padding: 0px;
		}

		& .dates {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 32px;

			& p {
				height: 24px;
			}
		}

		& .arrow {
			margin-left: auto;
		}

		&:hover {
			background-color: var(--background-hover);
		}

		&.skelenton {
			& .img {
				width: 216px;
				height: 216px;
				margin-inline: auto;
				background-color: var(--layer-active-02);
				position: relative;
				overflow: hidden;

				&::after {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					transform: translateX(-100%);
					background-image: linear-gradient(
					90deg,
					var(--text-disabled) 0,
					var(--text-onColorDisabled) 20%,
					var(--text-onColorDisabled) 60%,
					var(--text-disabled)
					);
					animation: shimmer 2s infinite;
					content: '';
				}
			}

			& .subtitle {
				padding: 0px;
				background-color: var(--layer-active-02);
				width: 40%;
				position: relative;
				overflow: hidden;

				&::after {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					transform: translateX(-100%);
					background-image: linear-gradient(
					90deg,
					var(--text-disabled) 0,
					var(--text-onColorDisabled) 20%,
					var(--text-onColorDisabled) 60%,
					var(--text-disabled)
					);
					animation: shimmer 2s infinite;
					content: '';
				}
			}

			& .title {
				padding: 0px;
				background-color: var(--layer-active-02);
				width: 50%;
				position: relative;
				overflow: hidden;

				&::after {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					transform: translateX(-100%);
					background-image: linear-gradient(
					90deg,
					var(--text-disabled) 0,
					var(--text-onColorDisabled) 20%,
					var(--text-onColorDisabled) 60%,
					var(--text-disabled)
					);
					animation: shimmer 2s infinite;
					content: '';
				}
			}

			& .dates {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-bottom: 32px;

				& p {
					width: 30%;
					background-color: var(--layer-active-02);
					position: relative;
					overflow: hidden;

					&::after {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						transform: translateX(-100%);
						background-image: linear-gradient(
						90deg,
						var(--text-disabled) 0,
						var(--text-onColorDisabled) 20%,
						var(--text-onColorDisabled) 60%,
						var(--text-disabled)
						);
						animation: shimmer 2s infinite;
						content: '';
					}
				}
			}
		}
	}
}

@keyframes shimmer {
	50% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

p {
	margin-top: 0px;
	font-size: 14px;

	&.bigText {
		font-size: 92px;
		background-clip: text;
		color: transparent;
	}

	&.footer {
		bottom: 48px;
	}
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
