:root {
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono',
  'Bitstream Vera Sans Mono', Courier, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //text colors
  --text-primary: rgb(244, 244, 244);
  --text-secondary: rgb(198, 198, 198);
  --text-placeholder: rgb(111, 111, 111);
  --text-onColor: rgb(255, 255, 255);
  --text-onColorDisabled: rgba(244, 244, 244, 0.25);
  --text-helper: rgb(141, 141, 141);
  --text-error: rgb(255, 131, 137);
  --text-inverse: rgb(22, 22, 22);
  --text-disabled: rgba(244, 244, 244, 0.25);

  //background colors
  --background: rgb(22, 22, 22);
  --background-active: rgb(141, 141, 141);
  --background-hover: rgba(141, 141, 141, 0.5);
  --background-selected: rgba(141, 141, 141, 0.24);
  --background-selected-hover: rgba(141, 141, 141, 0.32);
  --background-brand: rgb(15, 98, 254);
  --background-inverse: rgb(244, 244, 244);
  --background-inverse-hover: rgb(229, 229, 229);

  //layer colors
  --layer-01: rgb(38, 38, 38);
  --layer-03: rgb(82, 82, 82);
  --layer-active-02: rgb(111, 111, 111);
  --layer-active-03: rgb(141, 141, 141);
}

* {
	box-sizing: border-box;
	margin: 0px;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

@media only screen and (max-width: 444px) {
	#root {
		scroll-snap-type: none !important;
		scrollbar-width: unset !important;
	}

	section {
		&.welcome, &.experience {
			height: fit-content !important;
		}

		& p {
			&.footer {
				right: 0px !important;
				transform: unset !important;
			}
		}

		& svg {
			&.footer {
				right: -50% !important;
				transform: translate(-50%, 0%);
			}
		}

		& .footer {
			position: relative !important;
			bottom: 0px !important;
		}

		&:has(+ section.footerElement) {
			padding-bottom: 32px !important;
            height: calc(100vh - 128px - 48px);
            box-sizing: border-box;
		}
	}

	p {
		&.bigText {
			font-size: 76px !important;
		}
	}
}

@media only screen and (max-width: 475px) {
	section {
		&.languageIcons {
			margin: 16px 0px !important;
		}
	}
}

@media only screen and (max-width: 516px) {
	section {
		&.workHeader {
			width: 100% !important;
			height: fit-content !important;
		}
	}

	img {
		&.companyLogo {
			border-bottom: none !important;
		}
	}
}

#root {
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-margin: 16px;
  position: relative;
  scroll-snap-type: y mandatory;

  & > section {
	  padding-inline: max(16px, calc((100vw - 1280px)/2));
  }

}

header {
	&.global {
		width: 100vw;
		height: 48px;
		padding-inline: max(16px, calc((100vw - 1280px)/2));
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: var(--background);
		position: sticky;
		top: 0px;
		left: 0px;
		z-index: 99;

		& h1 {
			font-weight: 600;
			height: 100%;
		}
	}
}

h1 {
	padding: 0px 32px 0px 0px;
	font-size: 32px;
	color: var(--text-primary);
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

h2 {
	font-weight: 400;

	&.sectionHeader {
		text-align: left;
	}
}

a {
	color: var(--text-primary);
	height: 100%;
	padding: 0px 16px;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		color: var(--text-primary);
		background-color: var(--background-hover);
	}
}

nav {
	display: flex;
	& a {
		color: var(--text-primary);
		height: 100%;
		padding: 0px 16px;
		display: flex;
		justify-content: center;
		align-items: center;

		&:has(+ p.divider) {
			padding-right: 8px;
			justify-self: flex-start;
		}

		&:hover {
			color: var(--text-primary);
			background-color: var(--background-hover);
		}
	}

	& p {
		display: flex;
		justify-content: center;
		align-items: center;

		&.divider {
			padding-inline: 0px;
		}

		&.companyName {
			padding-inline: 8px;
			padding-right: 16px;
		}
	}
}

a {
	color: var(--text-primary);
	height: 100%;
	padding: 0px 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;

	&:hover {
		color: var(--text-primary);
		background-color: var(--background-hover);
	}
}

section {
	max-height: calc(100vh - 48px);
	width: 100%;
	scroll-snap-align: end;
	padding: 16px;

	&.welcome {
		height: calc(100vh - 48px);
		display: flex;
		flex-direction: column;
	}

	&.experience {
		height: calc(100vh - 48px);
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 16px;
		gap: 16px;
		overflow-x: scroll;
	}

	&.workPage {
        overflow: scroll;
		max-height: unset;
		display: flex;
		flex-wrap: wrap;

		& + section.footerElement {
			scroll-snap-align: none;
		}
		
		& .workHeader {
			scroll-snap-align: none;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;
			height: 216px;
			padding: 16px;
			border-bottom: 1px solid var(--text-primary);
			width: fit-content;
			flex-grow: 1;

			& p {

				&.jobRole {
					font-size: 42px;
				}

				&.companyName {
					font-size: 24px;
					display: flex;
					align-items: end;
					gap: 8px;

					& p {
						line-height: 28.5px;
					}
				}
			}
		}
	}

	&.jobDescription {
		max-height: unset;
		scroll-snap-align: none;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&.jobAchievements {
		max-height: unset;
		scroll-snap-align: none;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&.languageIcons {
		padding-inline: 0px;
		width: 100%;
		height: fit-content;
		margin-top: 64px;
		margin-bottom: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 16px;

		& img {
			height: 76px;
			width: 76px;
		}
	}

	&:has(+ section.footerElement) {
		height: calc(100vh - 128px - 48px);
		scroll-snap-align: none;
		padding-bottom: 80px;
	}

	&.footerElement {
		padding: 32px;
		background-color: var(--background);

		& .linkList {
			display: flex;
			flex-direction: column;
			gap: 0px;
			list-style-type: none !important;

			& li {

				& a {
					width: fit-content;
					padding: 4px 8px;
					display: flex;
					gap: 8px;
				}
			}
		}
	}

	& .footer {
		position: absolute;
		bottom: 16px;
		right: 50%;
		transform: translate(50%,0%);

	}
}

.tileContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	gap: 16px;
}

.tile {
	background-color: var(--layer-03);
	padding: 16px;
	min-width: 128px;
	width: fit-content;
	min-height: 64px;
    height: fit-content;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 16px;
	position: relative;

	& .img {
		width: 216px;
		height: 216px;
		margin-inline: auto;
		background-color: var(--layer-active-02);
		position: relative;
		overflow: hidden;
        aspect-ratio: 1 / 1;

		&::after {
			position: absolute;
			height: 100%;
			width: 100%;
			transform: translateX(-200%);
			background-image: linear-gradient(
			90deg,
			var(--layer-active-02) 0%,
			var(--text-onColorDisabled) 50%,
			var(--layer-active-02) 100%,
			);
			animation: shimmer 10s infinite;
			content: '';
		}
	}

	& img {
		width: 216px;
		margin-inline: auto;
        aspect-ratio: 1 / 1;
	}

	& .subtitle {
		height: 24px;
		padding: 0px;
	}

	& .title {
		height: 28px;
		padding: 0px;
	}

	& .dates {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 32px;

		&::after {
			content: none !important;
		}

		& p {
			height: 24px;
		}
	}

	& .arrow {
		margin-left: auto;
		height: 20px;
		width: 20px;

		&::after {
			content: none !important;
		}

	}

	&:hover {
		background-color: var(--background-hover);
	}

	&.skelenton {

		&:hover {
			background-color: var(--layer-03);
		}

		& > *::after, & .dates > *::after {
			position: absolute;
			height: 100%;
			width: 100%;
			transform: translateX(-200%);
			background-image: linear-gradient(
			90deg,
			var(--layer-active-02) 0%,
			var(--text-onColorDisabled) 50%,
			var(--layer-active-02) 100%,
			);
			animation: shimmer 2s infinite;
			content: '';
		}

		& .img {
			width: 216px;
			height: 216px;
			margin-inline: auto;
			background-color: var(--layer-active-02);
			position: relative;
			overflow: hidden;

		}

		& .subtitle {
			padding: 0px;
			background-color: var(--layer-active-02);
			width: 40%;
			position: relative;
			overflow: hidden;

		}

		& .title {
			padding: 0px;
			background-color: var(--layer-active-02);
			width: 50%;
			position: relative;
			overflow: hidden;

		}

		& .dates {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 32px;

			& p {
				width: 30%;
				background-color: var(--layer-active-02);
				position: relative;
				overflow: hidden;

			}
		}
	}
}

@keyframes shimmer {
	50% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-200%);
	}
}

p {
	margin-top: 0px;
	font-size: 14px;

	&.bigText {
		font-size: 92px;
		background-clip: text;
		color: transparent;
	}

	&.footer {
		bottom: 48px;
	}

	&.jobDescription {
		text-align: left;
	}
}

img {
	&.companyLogo {
		height: 216px;
		width: 216px;
		padding: 16px;
		border-bottom: 1px solid var(--text-primary);
	}
}

div {
	&.companyLogo {
		display: flex;
		justify-content: center;
	}
}

ul {
	padding-inline: 0px;
	display: flex;
	flex-direction: column;
	gap: 16px;

	& li {
		text-align: left;
	}
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
