.accessabilityIcon {
    height: 40px; width: 40px;
    border-radius: 50%;
    background-color: var(--eerie-black);
    position: absolute;
    top: 15px; left: 15px;
    display: flex; justify-content: center; align-items: center;
    transition: 300ms ease-in-out;
}

.accessabilityIcon.dark {
    background-color: var(--silver);
}

.accessabilityIcon svg {
    width: 30px; height: 30px;
    fill: var(--silver);
    transition: 300ms ease-in-out;
}

.accessabilityIcon.dark svg {
    fill: var(--eerie-black)
}

.mainTitle {
    margin-left: 80px; margin-right: auto;
}

.mainTitle h1:hover {
    text-shadow: 10px 10px 3px var(--battleship-grey);
    transform: translate(-10px, -10px);
    transition: 100ms ease-in-out;
}

.mainTitle h1 {
    color: var(--eerie-black);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 130px;
    margin: 0;
    height: 338px; width: 390px;
    position: relative;
    transition: transform 1500ms ease-in-out, text-shadow 1500ms ease-in-out, color 300ms ease-in-out;
}

.mainTitle.dark h1{
    color: var(--silver);
}


.mainTitle h3 {
    color: var(--eerie-black);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 24px;
    transition: 300ms ease-in-out;
}

.mainTitle.dark h3 {
    color: var(--silver);
}

.navigationMenu {
    margin-right: 80px; margin-left: auto;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.navigationMenu p {
    height: 48px; width: 380px;
    color: var(--eerie-black);
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 24px;
    line-height: 48px;
    text-align: right;
    position: relative;
    transition: transform 1500ms ease-in-out, text-shadow 1500ms ease-in-out, color 300ms ease-in-out;
	border-radius: 8px;
	padding-right: 12px;
	z-index: 10;
}

.navigationMenu.dark p {
    color: var(--silver);
}

.navigationMenu a p:hover {
    text-shadow: 5px 5px 3px var(--battleship-grey);
    transform: translate(-5px, -5px);
    transition: 100ms all ease-in-out;
    background-color: var(--silver);
}

.navigationMenu.dark a p:hover {
	background-color: var(--eerie-black);
}

.backgroundBlur {
	height: 250px;
	width: 250px;
	background-color: var(--granite-gray);
	border-radius: 50%;
	box-shadow: 0px 0px 200px var(--silver);
	filter: blur(1000px) brightness(65%);
	position: absolute;
	top: var(--mouseY);
	left: var(--mouseX);
	transform: translate(-50%, -50%);
}
