body { 
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #0D3B66;
}

.score{
    display: flex;
    justify-content: center;
    color: var(--text);
    font-size: 2rem;
}

.messages{
    display: flex;
    justify-content: center;
    color: var(--text);
    font-size: 2rem;
}

.grid {
    display: grid;
    border: #EEF4D4 1rem solid;
    width: fit-content;
    height: fit-content;
    grid-template-columns: repeat(16,35px); 
    grid-template-rows: repeat(16,35px);
    align-self: center;
}

.tile {
    position: relative;
}

.title-card {
    position: sticky;
    top: 0;
    display: flex;
    width: 100vw;
    background-color: var(--primary);
    justify-content: center;
    margin-bottom: 35px;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}