@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

:root{
    --eerie-black: #262626ff;
    --davys-grey: #474747ff;
    --granite-gray: #666666ff;
    --battleship-grey: #858585ff;
    --quick-silver: #a3a3a3ff;
    --silver: #bfbfbfff;
}

.main-body {
    height: 100vh; width: 100vw;
    background-color: var(--silver);
    margin: 0; padding: 0;
    display: flex; justify-content: center; align-items: center;
    transition: 200ms ease-in-out;
}

.main-body.dark {
    background-color: var(--eerie-black);
}

.wrapper-flex{
    max-height: 1024px; max-width: 1440px;
    height: 100%; width: 100%;
    display: flex; flex-direction: row;
    align-items: center; justify-content: space-around;
    position: absolute;
}

.accessability-icon{
    height: 40px; width: 40px;
    border-radius: 50%;
    background-color: var(--eerie-black);
    position: absolute;
    top: 15px; left: 15px;
    display: flex; justify-content: center; align-items: center;
    transition: 300ms ease-in-out;
}

.accessability-icon.dark {
    background-color: var(--silver);
}

.accessability-icon svg {
    width: 30px; height: 30px;
    fill: var(--silver);
    transition: 300ms ease-in-out;
}

.accessability-icon.dark svg {
    fill: var(--eerie-black)
}

.slider-track {
    width: 64px; height: 32px;
    border-radius: 16px;
    border: none;
    padding: 0px;
    background-color: var(--eerie-black);
    box-shadow: 0px 2px 0px inset var(--davys-grey);
    position: absolute;
    top: 15px;
    right: 15px;
    transition: 200ms ease-in-out;
}

.slider-track.dark {
    background-color: var(--silver);
}

.slider-button {
    height: 32px; width: 32px;
    border-radius: 50%;
    background-color: var(--battleship-grey);
    position: relative;
    transition: 200ms ease-in-out;
}

.slider-button.dark {
    margin-left: 32px;
}

.main-title{
    margin-left: 80px; margin-right: auto;
}

.main-title h1:hover{
    text-shadow: 10px 10px 3px var(--battleship-grey);
    transform: translate(-10px, -10px);
    transition: 100ms ease-in-out;
}

.main-title h1{
    color: var(--eerie-black);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 130px;
    margin: 0;
    height: 338px; width: 390px;
    position: relative;
    transition: transform 1500ms ease-in-out, text-shadow 1500ms ease-in-out, color 300ms ease-in-out;
}

.main-title.dark h1{
    color: var(--silver);
}


.main-title h3 {
    color: var(--eerie-black);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 24px;
    transition: 300ms ease-in-out;
}

.main-title.dark h3{
    color: var(--silver);
}

.navigation-menu{
    margin-right: 80px; margin-left: auto;
}

.navigation-menu p{
    height: 48px; width: 380px;
    color: var(--eerie-black);
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 24px;
    line-height: 48px;
    text-align: right;
    position: relative;
    transition: transform 1500ms ease-in-out, text-shadow 1500ms ease-in-out, color 300ms ease-in-out;
}

.navigation-menu.dark p{
    color: var(--silver);
}

.navigation-menu a p:hover{
    text-shadow: 5px 5px 3px var(--battleship-grey);
    transform: translate(-5px, -5px);
    transition: 100ms ease-in-out;
}

a{
    text-decoration: none;
}