* {
  font-family: 'Quicksand';
  font-size: 20px;
  scroll-behavior: smooth;
  margin: 0px;
  box-sizing: border-box;
  font-weight: 400;

  @media (width < 760px) {
    font-size: 16px;
  }
}

h1, .heading-1 {
  font-family: 'Lexend';
  font-size: 4rem;
}

h2, .heading-2 {
  font-family: 'Lexend';
  font-size: 2rem;
}

h3, .heading-3 {
  font-size: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 4rem;
  width: 100dvw;
  background-color: #E6EEF2;
  margin: 0px;

  @media (width < 760px) {
    padding: 0px 1rem;
  }

  > section:last-of-type {
    padding-bottom: 160px;
  }
}

section {
  width: 100%;
  max-width: 1440px;
  min-height: 100dvh;
  padding: 160px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .headerContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

nav {
  width: 100dvw;
  display: flex;
  padding: 1rem;
  background-color: #122026;
  color: white;
  position: sticky;
  top: 0px;
  justify-content: center;
  border-radius: 0px 0px 1rem 1rem;
  z-index: 999;

  @media (width < 480px) {
    a {
      display: none;
    }

    a:first-of-type {
      display: block;
    }
  }
  a {
    text-decoration: none;
    font-size: 1.6rem;
  }

  section {
    min-height: unset;
    height: auto;
    width: calc(100% - 160px);
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    @media (width < 760px) {
      width: 100%;
    }
  }

  a {
    color: inherit;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  label {
    margin-top: 1rem;
  }

  input, textarea {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: none;
    width: 100% !important;
  }

  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: none;
    width: fit-content;
    align-self: flex-end;
    min-width: 8rem;
    background-color: #EDA67F;
    border: 0.1rem solid #EDA67F;
  }

  button:hover {
    background-color: #E16B2A;
  }

  .form-footer {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
  }
}

#Career, #Projects, #Contact {
  section {
    min-height: unset;
    padding: 0px;
    padding-bottom: 4rem;
  }

  section:last-of-type {
    padding-bottom: 0px;
  }
}

.spacer {
  flex-grow: 1;
  width: 100%;
  margin-right: -1rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.careerHeader {
  position: relative;

  .img {
    height: 12rem;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(-33%);
    z-index: -1;

    .gradient {
      z-index: 1;
      height: 12rem;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      background: rgba(230, 238, 242, 0.9);
    }

    .gradient.higher-contrast {
      background: rgba(230, 238, 242, 0.8);
    }

    img {
      z-index: -1;
      height: 12rem;
    }
  }
}

.languageContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .comfortable, .cloudInfra, .learning {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  img {
    height: 7rem;
    aspect-ratio: 1 / 1;
  }
}

.message-success {
  width: 100%;
  border: 0.1rem solid #24a148;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  background-color: #defbe6;

  img {
    height: 1rem;
    width: 1rem;
  }
}

.message-error {
  width: 100%;
  border: 0.1rem solid #da1e28;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  background-color: #fff1f1;

  img {
    height: 1rem;
    width: 1rem;
  }
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.8s;
}

.loading-indicator {
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* avoids random interactions */
  margin-top: 10px;
  flex-grow: 1;
  border: 0.1rem solid #f1c21b;
  padding: 0.5rem 1rem;
  display: none;
  align-items: center;
  width: fit-content;
  gap: 1rem;
  border-radius: 1rem;
  background-color: #fcf4d6;

  img {
    height: 1rem;
    width: 1rem;
  }
}

.contact-form.htmx-request {
  .loading-indicator {
    display: flex;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.8s;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
